@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
@if (@ViewBag.List.Count == 0)
{
  <h3>No stylists have been added yet!</h3>
  <h3>Please add stylist before adding a client</h3>
  <p>@Html.ActionLink("Add Stylist", "Index", "Stylists")</p>
} else 
{
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new {required = "required"})

    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description, new {required = "required"})

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    <input type="submit" value="Add new item" class="btn" />
  }
} 

<p>@Html.ActionLink("Show all Clients", "Index")</p>
<p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>